{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<center>
    <div class="col-md-6 col-lg-8"" style="background-color:#343a40!important;
box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
 <h1 class="display-4 font-weight-normal">Akinboro Daniel</h1>
 <img src="./pics/adeola-removebg-preview.png" class="mb-4" alt="">

<p>An Undergraduate student at Olabisi Onabanjo University studying Medicine who is also very passionate about 
    programming built these project and planning to build many more.
</p>  
</div>
</center>
{% endblock %}